body {
	margin: 0 auto;
	width: 100%;
	font-size: 5em;
	font-family: Helvetica;
}

a {
	color: #ccc;
	text-decoration: none;
	left: 50%;
}

a:hover { color: #3ad; }

.bg-clip {
	background: url(test.png) repeat;
	 -webkit-background-clip: text;
	 -webkit-text-fill-color: transparent;
	 -webkit-transform: rotate(-5deg);
	  -moz-transform: rotate(-5deg);
	  -o-transform: rotate (-5deg);
}

.shadowed {
  border: 3px solid #fff;
  -o-box-shadow: 0 3px 4px rgba(0,0,0,.5);
  -moz-box-shadow: 0 3px 4px rgba(0,0,0,.5);
  -webkit-box-shadow: 0 3px 4px rgba(0,0,0,.5);
  box-shadow: 0 3px 4px rgba(0,0,0,.5);
  }

.boxes {
	margin: 20px;
}

 .smash1 { margin-bottom: -125px;
  -o-transform: rotate(2.5deg);
  -moz-transform: rotate(2.5deg);
  -webkit-transform: rotate(2.5deg);
  }

.smash2 {
-o-transform: rotate(-7deg);
-moz-transform: rotate(-7deg);
-webkit-transform: rotate(-7deg);
}